<!DOCTYPE html>
<html lang="ja">
<head>
	<title>Adm003</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
</head>
<body>
	<main>
		<div class="container">
			<nav class="nav-bar">
				<div class="content-main">
					<div class="d-flex">
						<a class="navbar-brand "><img src="../../../../assets/images/Logo-Luvina.svg" title="Logo" alt="logo"></a>
						<h5 class="title-brand mr-auto">Luvina Software</h5>
						<ul class="navbar-nav flex-row d-flex">
							<li class="nav-item"><a href="Login.html">ログアウト</a></li>
							<li class="nav-item"><a href="ADM002.html">トップ</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="content">
				<div class="content-main">
					<div class="row">
						<form class="c-form box-shadow was-validated">
							<ul>
								<li class="title">会員情報編集</li>
								<li class="box-err">
									<!-- <div class="box-err-content">Hiển thị lỗi chung lại đây</div> -->
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">カタカナ氏名:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10"><input type="text" class="form-control"></div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">グループ:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10">
										<select class="form-control" name="departmentId" [(ngModel)]="departmentId">
                                            <option value=""></option>
                                            <option *ngFor="let department of listDepartment" [value]="department.departmentId">{{department.departmentName}}</option>
                                          </select>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">氏名:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10"><input type="text" class="form-control"></div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">カタカナ氏名:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10">
										<input type="text" class="form-control" >
										<!-- <div class="invalid-feedback">Example invalid form file feedback</div> -->
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">生年月日:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10 d-flex">
										<div class="input-group date datepicker" data-date-format="dd-mm-yyyy">
											<input class="form-control" readonly="" type="text">
											<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
										</div>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">メールアドレス:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10"><input type="text" class="form-control"></div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">電話番号:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10"><input type="text" class="form-control"></div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">パスワード:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10"><input type="text" class="form-control"></div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">パスワード（確認）:</i></label>
									<div class="col-sm col-sm-10"><input type="text" class="form-control"></div>
								</li>
								<li class="title mt-12"><a href="#!">日本語能力</a></li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">資格:</i></label>
									<div class="col-sm col-sm-10">
										<select class="form-control">
											<option>選択してください</option>
											<option>N 1</option>
											<option>N 2</option>
										</select>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">資格交付日:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10 d-flex">
										<div id="datepicker" class="input-group date datepicker" data-date-format="dd-mm-yyyy">
											<input class="form-control" readonly="" type="text">
											<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
										</div>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">失効日:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10 d-flex">
										<div class="input-group date datepicker" data-date-format="dd-mm-yyyy">
											<input class="form-control" readonly="" type="text">
											<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
										</div>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">点数:</i></label>
									<div class="col-sm col-sm-10"><input type="text" class="form-control"></div>
								</li>
								<li  class="form-group row d-flex">
									<div class="btn-group col-sm col-sm-10 ml">
										<button type="button" class="btn btn-primary btn-sm" onClick="location.href = './ADM005.html';return false;">確認</button>
										<button type="button" class="btn btn-secondary btn-sm" onClick="location.href = './ADM002.html';return false;">戻る</button>
									</div>
								</li>
							</ul>
						</form>
					</div>
				</div>

			</div>
			<footer class="footer">
				<div class="content-main">
					<p>Copyright ©　2010　ルビナソフトウエア株式会社. All rights reserved.</p>
				</div>
			</footer>
		</div>
	</main>
</body>
</html>