<!DOCTYPE html>
<html lang="ja">
<head>
	<title>Adm003</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
</head>
<body>
	<main>
		<div class="container">
			<app-header></app-header>
			<div class="content">
				<div class="content-main">
					<div class="row">
						<form class="c-form box-shadow was-validated" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
							<ul>
								<li class="title">会員情報編集</li>
								<li class="box-err">
									<!-- <div class="box-err-content">{{error}}</div> -->
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">カタカナ氏名:<span class="note-red">*</span></i></label>
									<div  class="col-sm col-sm-10">
										<input type="text" class="form-control" formControlName="employeeLoginId" 
										(blur)="isValidLoginId()">
										<span class="message" *ngIf="checkIsValidLoginId === false">{{messageLoginId}}</span>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">グループ:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10">
										<select class="form-control" formControlName="departmentId" (blur)="isValidDepartment()">
                                            <option value="">選択してください</option>
                                            <option *ngFor="let department of listDepartment" [value]="department.departmentId">{{department.departmentName}}</option>
                                        </select>
										<span class="message">{{messageDepartment}}</span>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">氏名:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10">
										<input type="text" class="form-control" formControlName="employeeName" 
											(blur)="isValidEmployeeName()">
										<span class="message">{{messageEmployeeName}}</span>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">カタカナ氏名:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10">
										<input type="text" class="form-control" formControlName="employeeNameKana" 
											(blur)="isValidEmployeeNameKana()">
										<span class="message">{{messageEmployeeNameKana}}</span>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">生年月日:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10 d-flex">
										<div class="input-group date datepicker" >
											<input id="employeeBirthDate" class="form-control" readonly type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
											 formControlName="employeeBirthDate" (ngModelChange)="isValidEmployeeBirthDate()"/>
											 
											<label for="employeeBirthDate">
												<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
											</label>
											<span  class="message">{{messageEmployeeBirthDate}}</span>
										</div>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">メールアドレス:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10"><input type="text" class="form-control" formControlName="employeeEmail"
										(blur)="isValidEmployeeEmail()">
										<span class="message">{{messageEmployeeEmail}}</span>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">電話番号:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10"><input type="text" class="form-control" formControlName="employeeTelephone"
										(blur)="isValidEmployeePhone()">
										<span class="message">{{messageEmployeePhone}}</span>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">パスワード:<span class="note-red">*</span></i></label>
									<div class="col-sm col-sm-10"><input type="password" class="form-control" formControlName="employeeLoginPassword"
										(blur)="isValidEmployeeLoginPassword()">
										<span class="message">{{messageEmployeeLoginPassword}}</span>
									</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2"><i class="relative">パスワード（確認）:</i></label>
									<div class="col-sm col-sm-10"><input type="password" class="form-control" formControlName="rePassword"
										(blur)="isValidRepassword()">
										<span class="message">{{messageRePassword}}</span>
									</div>
								</li>
								<li class="title mt-12"><a href="#!">日本語能力</a></li>
								<div formGroupName="certifications">
									<li class="form-group row d-flex">
										<label class="col-form-label col-sm-2"><i class="relative">資格:</i></label>
										<div class="col-sm col-sm-10">
											<select class="form-control" formControlName="certificationId" (change)="onSelectChange($event)">
												<option value="">選択してください</option>
												<option *ngFor="let certification of listCertification" [value]="certification.certificationId">{{certification.certificationName}}</option>
											</select>
										</div>
									</li>
									<li class="form-group row d-flex">
										<label class="col-form-label col-sm-2"><i class="relative">資格交付日:<span class="note-red">*</span></i></label>
										<div class="col-sm col-sm-10 d-flex">
											<div id="datepicker" class="input-group date datepicker">
												<input id="startDate" class="form-control" readonly="" type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
												formControlName="certificationStartDate" (ngModelChange)="isValidStartDate()">
												<label for="startDate">
													<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
												</label>
												<span class="message">{{messageCertificationStartDate}}</span>
											</div>
										</div>
									</li>
									<li class="form-group row d-flex">
										<label class="col-form-label col-sm-2"><i class="relative">失効日:<span class="note-red">*</span></i></label>
										<div class="col-sm col-sm-10 d-flex">
											<div class="input-group date datepicker" >
												<input  id="endDate" class="form-control" readonly="" type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
												formControlName="certificationEndDate" (ngModelChange)="isValidEndDate()">
												<label for="endDate">
													<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
												</label>
												<span class="message">{{messageCertificationEndDate}}</span>
												<span class="message">{{messageEndDateGreaterStart}}</span>

											</div>
										</div>
									</li>
									<li class="form-group row d-flex">
										<label class="col-form-label col-sm-2"><i class="relative">点数:</i></label>
										<div class="col-sm col-sm-10"><input type="text" class="form-control" formControlName="employeeCertificationScore"
											(blur)="isValidScore()">
											<span class="message">{{messageCertificationScore}}</span>
											
										</div>
									</li>
									<li  class="form-group row d-flex">
										<div class="btn-group col-sm col-sm-10 ml">
											<button type="submit" class="btn btn-primary btn-sm" >確認</button>
											<button type="button" class="btn btn-secondary btn-sm" onClick="location.href = './ADM002.html';return false;">戻る</button>
										</div>
									</li>
								</div>
							</ul>
						</form>
					</div>
				</div>

			</div>
			<footer class="footer">
				<div class="content-main">
					<p>Copyright ©　2010　ルビナソフトウエア株式会社. All rights reserved.</p>
				</div>
			</footer>
		</div>
	</main>
</body>
</html>