<body>
	<main>
		<div class="container">
			<app-header></app-header>
			<div class="content">
				<div class="content-main">
					<div class="row">
						<form class="c-form box-shadow">
							<ul class="show-data">
								<li class="title">会員詳細</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">アカウント名</label>
									<div class="col-sm col-sm-10">{{employeeLoginId}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">グループ</label>
									<div class="col-sm col-sm-10">{{departmentName}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">氏名</label>
									<div class="col-sm col-sm-10">{{employeeName}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">カタカナ氏名</label>
									<div class="col-sm col-sm-10">{{employeeNameKana}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">生年月日</label>
									<div class="col-sm col-sm-10">{{employeeBirthDate}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">メールアドレス</label>
									<div class="col-sm col-sm-10">{{employeeEmail}}</div>
								</li>
								<li class="form-group row d-flex  bor-none">
									<label class="col-form-label col-sm-2">電話番号</label>
									<div class="col-sm col-sm-10">{{employeeTelephone}}</div>
								</li>
								<li class="title mt-12"><a href="#!">日本語能力</a></li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">資格</label>
									<div class="col-sm col-sm-10">{{certificationName}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">資格交付日</label>
									<div class="col-sm col-sm-10">{{startDate}}</div>
								</li>
								<li class="form-group row d-flex">
<label class="col-form-label col-sm-2">失効日</label>
									<div class="col-sm col-sm-10">{{endDate}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">点数</label>
									<div class="col-sm col-sm-10">{{score}}</div>
								</li>
								<li  class="form-group row d-flex">
									<div class="btn-group col-sm col-sm-10 ml">
										<button type="button" class="btn btn-primary btn-sm" (click)="editEmployee()">EDIT</button>
										<button type="button" class="btn btn-secondary btn-sm" onClick="location.href = './ADM006.html';return false;">DELETE</button>
										<button type="button" class="btn btn-secondary btn-sm" onClick="location.href = './ADM002.html';return false;">BACK</button>
									</div>
								</li>
							</ul>
						</form>
					</div>
				</div>

			</div>
			<footer class="footer">
				<div class="content-main">
					<p>Copyright ©　2010　ルビナソフトウエア株式会社. All rights reserved.</p>
				</div>
			</footer>
		</div>
	</main>
</body>
