<!DOCTYPE html>
<html lang="ja">
<head>
	<title>Adm004</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<main>
		<div class="container">
			<app-header></app-header>
			<div class="content">
				<div class="content-main">
					<div class="row">
						<form class="c-form box-shadow">
							<ul class="show-data">
								<li class="title">
									<p>情報確認</p>
									<p>入力された情報をＯＫボタンクリックでＤＢへ保存してください</p>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">アカウント名</label>
									<div class="col-sm col-sm-10">{{employeeLoginId}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">グループ</label>
									<div class="col-sm col-sm-10">{{departmentName}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">氏名</label>
									<div class="col-sm col-sm-10">{{employeeName}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">カタカナ氏名</label>
									<div class="col-sm col-sm-10">{{employeeNameKana}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">生年月日</label>
									<div class="col-sm col-sm-10">{{employeeBirthDate}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">メールアドレス</label>
									<div class="col-sm col-sm-10">{{employeeEmail}}</div>
								</li>
								<li class="form-group row d-flex  bor-none">
									<label class="col-form-label col-sm-2">電話番号</label>
									<div class="col-sm col-sm-10">{{employeeTelephone}}</div>
								</li>
								<li class="title mt-12"><a href="#!">日本語能力</a></li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">資格</label>
									<div class="col-sm col-sm-10">{{certificationName}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">資格交付日</label>
									<div class="col-sm col-sm-10">{{certificationStartDate}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">失効日</label>
									<div class="col-sm col-sm-10">{{certificationEndDate}}</div>
								</li>
								<li class="form-group row d-flex">
									<label class="col-form-label col-sm-2">点数</label>
									<div class="col-sm col-sm-10">{{certificationScore}}</div>
								</li>
								<li  class="form-group row d-flex">
									<div class="btn-group col-sm col-sm-10 ml">
										<button type="button" class="btn btn-primary btn-sm" (click)="addEmployee()">OK</button>
										<button type="submit" class="btn btn-secondary btn-sm" (click)="backToFormAddOrEdit()">戻る</button>
									</div>
								</li>
							</ul>
						</form>
					</div>
				</div>

			</div>
			<app-footer></app-footer>
		</div>
	</main>
</body>
</html>